<div style="padding-left: 2em;">

  Enter information to be formatted
  <hr>
  <%= form_for @input do |f| %>
    Input: <%= f.text_field :field1 %> <br/>

    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>

  <hr>

</div>
