<h1 class = "headline-text text-center">Welcome to Conformer Tester</h1>
<p>A simple application to test the functionality of the</p>
<h2>Conformer Gem</h2>

<br><br>

<%= link_to "Get Started", new_input_path, class: 'btn btn-success' %>
